<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gif Categoies</title>
</head>
<body>
    <h1>
        Categories page
    </h1>
    {% for cat in categories %}
    <div class="category-container">

        {{cat.category_name}}
        <a href="{% url 'category_page' cat.id %}">link to category</a>
    </div>
    {% endfor %}

</body>
</html>