<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gif page {{gif.title}}</title>
</head>
<body>
    <img src="{{gif.url}}" alt="{{gif.title}}">
    <p>
        uploaded by {{gif.uploader_name}}
    </p>
    <h3>
        Belongs to these categories:
    </h3>
    <ul>
        {% for cat in gif.categories.all %}
            <li><a href="{% url 'category_page' cat.id %}">{{cat.category_name}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>