{% extends "partials/base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<h1>Film List</h1>
<ul>
    {% for movie in movies %}
    <li class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            Created in {{movie.created_in_country}}
            <p class="card-text">
                <p>Directors:</p>
                {% for dir in movie.director.all %}
                <p>
                    {{dir.first_name}} {{dir.last_name}}
                </p>
                {% endfor %}
            </p>
            <p class="card-text">Debuted on {{ movie.release_date|date }}</p>

            <a href="#" class="btn btn-primary">Visit movie page</a>
        </div>
    </li>
    {% empty %}
    <li>No articles yet.</li>
    {% endfor %}
</ul>
{% endblock %}